<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toolkit para Avaliar Robustez de Redações</title>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Gerador automático de ruídos</h1>

    <div id="alertBox" class="alert">
        <span id="alertMessage"></span>
        <span class="close-btn" id="closeAlert">&times;</span>
    </div>

    <div class="container">
        <div class="textarea-container">
            <textarea id="inputText" placeholder="Digite sua redação aqui..."></textarea>

            <div class="footer">
                <button id="generateBtn">Gerar redação ruidosa</button>
            </div>
        </div>

        <div class="controls">
            <div class="dropdown-style">
                <div class="dropdown-title">Ruídos ENEM</div>
                <div class="dropdown-content">
                    <label for="selectCompetencia"><strong>Selecione uma competência:</strong></label>
                    <select id="selectCompetencia">
                        <option value="" disabled selected>Escolha uma competência</option>
                        <option value="1">Competência 1</option>
                        <option value="2">Competência 2</option>
                        <option value="3">Competência 3</option>
                        <option value="4">Competência 4</option>
                        <option value="5">Competência 5</option>
                        <option value="0">Nenhuma</option>
                    </select>

                    <div id="desviosContainer" class="desvios-opcoes hidden">
                        <p><strong>Selecione qual desvio quer adicionar:</strong></p>
                        <div id="desvioList" class="desvio-choice-group"></div>
                    </div>
                </div>
            </div>

            <div class="dropdown-style">
                <div class="dropdown-title">Ruídos gerais</div>
                <div class="dropdown-content checkbox-list">
                    <label><input type="checkbox" id="opt1"> Adicionar texto não relacionado</label>
                    <label><input type="checkbox" id="opt2"> Adicionar letra de música</label>
                    <label><input type="checkbox" id="opt3"> Adicionar receita de bolo</label>
                    <label><input type="checkbox" id="opt4"> Repetir parágrafo</label>
                    <label><input type="checkbox" id="opt5"> Excluir parágrafo</label>
                    <label><input type="checkbox" id="opt6"> Embaralhar o texto</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Resultado -->
    <div id="responseModal" class="modal">
        <div class="modal-content">
            <span class="modal-close" id="modalClose">&times;</span>
            <h2>Resultado</h2>
            <pre id="modalText"></pre>
        </div>
    </div>

    <!-- Modal de Seleção de Modelo -->
    <div id="modelSelectionModal" class="modal">
        <div class="modal-content">
            <span class="modal-close" id="modelModalClose">&times;</span>
            <h3>Qual modelo de linguagem deseja  utilizar?</h3>
            <div class="model-options">
                <button class="model-btn" data-model="Deepseek">
                    <img src="/static/images/DeepSeek_logo_icon.png" alt="Deepseek logo">
                    Deepseek
                </button>
                <button class="model-btn" data-model="Gemini">
                    <img src="/static/images/Gemini_logo_icon.png" alt="Gemini logo">
                    Gemini
                </button>
                <button class="model-btn" data-model="Llama">
                    <img src="/static/images/Llama_logo_icon.png" alt="Llama logo">
                    Llama
                </button>
                <button class="model-btn" data-model="Qwen">
                    <img src="/static/images/Qwen_logo_icon.png" alt="Qwen logo">
                    Qwen
                </button>
            </div>

        </div>
    </div>

    <div class="loading-overlay" id="loadingOverlay">
        <div class="spinner"></div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>